
<h1>
Convert <%= @original_currency %>
</h1>

Go<a href="/"> back. </a>


<ul>
<% @parsed_data.fetch("currencies").keys.each do |p| %>
   <li>
      <a href ="/<%= @original_currency %>/<%= p %>">Convert 1 <%= @original_currency %> to <%= p %>...</a>
   </li>
<% end %>
</ul>
